<!--
Author : Praveen Kumar bonalu.
Created Date : Feb 26 2015
Purpose : VF Page used to provide the reason for the cancellation of task.
-->
<apex:page standardController="Task" extensions="TaskCancellationCrtl_EXT" tabStyle="Task">
    <apex:form > 
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageBlock title="{!$Label.Task_Cancellation_Reason_Code}">
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{!task.Reason_Code__c}" label="{!$Label.Label_Cancelled_Reason}"/>
            </apex:pageBlockSection>
            <apex:pageblockButtons location="bottom">
                <apex:commandButton value="{!$Label.Save}" action="{!Save}" />
                <apex:commandButton value="{!$Label.Cancel}" action="{!Cancel}"/>
            </apex:pageblockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>